:root {
	--background-color: #3c3c3e;		/*#505050*/
	--foreground-color: #f8f8f8;
	--decor-color: #f5deb3;
}

body {
	min-width: 200px;
	margin: 0;
	padding: 0 12px 6px 12px;
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: Tahoma, Sans;
	font-size: 13.2px;
	font-weight: normal;
	-moz-user-select: none;
	user-select: none;
}

h3 {
	color: var(--decor-color);
}

#ohpStateGroup {
	border-radius: 4px;
	border: 2px solid var(--decor-color);
}

.stateControl {
	display: flex;
	margin: 10px 12px;
}

.controlLabel {
	flex-grow: 2;
	margin: auto 0;
	padding-left: 5px;
	height: 18px;
}

input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	padding: 0;
	margin: 2px 0;
	width: 18px;
	height: 18px;
	border: 2px solid #999999;
	border-radius: 50%;
	transition: 0.2s all linear;
	outline: none;
}

input[type="radio"]:checked {
	border: 5px solid var(--foreground-color);
	background-color: #000000;
}

#footer {
	display: flex;
	justify-content: flex-end;
	margin-top: 6px;
}

#version {
	color: #999999;
}
